<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
            <h1>FitFreak</h1>
            <h2>Become a beast!</h2>
        </div>
        <div class="login-container">
            <form>
                <input name="email" type="text" placeholder="Email@email.com">
                <input name="password" type="password" placeholder="Password">
                <button id="login">LOGIN</button>
                <button id="non-registered-button">Not registered? Register now!</button>
            </form>
        </div>
        
    </div>
</body>