table,th, td{
    margin: 0.5em 3em;
    border-collapse: collapse;
}

table{
    width:90%
}
td,th{
    width: 25%;
}

th{
    background-color: whitesmoke;
    border: 1px solid gray;
    height: 3em;
}

td{
    height: 2em;
    text-align: center;
}

td {
    border: 1px solid #ddd;
}

tr:hover{
    background-color:whitesmoke ;
}

@media only screen and (max-device-width:420px) {
    table{
        margin: 0.5em;
    }
}
